.doc_container{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #40a9ff;
    font-family: open sans,Arial,Helvetica,sans-serif;
    margin-bottom: 20px;
}
.doc_img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.doc_info{
    line-height: 15px;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.doc_name{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.doc_spe{
    font-size: 13px;
    color: white;
}
.doc_add{
    color: #FFFFFF;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}